<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Stoplight – WebSocket</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet"/>
</head>
<body>

  <div class="container">
    <div class="traffic-light">
      <div class="light red" id="red"></div>
      <div class="light yellow" id="yellow"></div>
      <div class="light green" id="green"></div>
    </div>

    <div class="pole"></div>
      <button class="reset-button" id="reset-btn">Reset Cycle & Stats</button>

      <table id="stats-table">
        <tr><th>Cycle Number</th><td id="cycle">0</td></tr>
        <tr><th>Percent time Red</th><td id="red-pct">0.0%</td></tr>
        <tr><th>Percent time Yellow</th><td id="yellow-pct">0.0%</td></tr>
        <tr><th>Percent time Green</th><td id="green-pct">0.0%</td></tr>
      </table>

    <div id="status">Connecting...</div>
  </div>
  <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</body>
</html>